
html{
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    width: 100%;
    background-color: black;
    color:aliceblue;
    display: flex;
    
}

.logo{
    display: flex;
    justify-content: center;
    width: auto;
}

.link{
    text-decoration: none;
    margin-right: 3vw;
    margin-top: 30px;
    color: white;
    font-size: 1em;
    
}
.checkbtn {
    width: 30px;
    height: 5px;
    background-color: aqua;
    display: none;
    margin-top: 5px;
}

.links {
    display: flex;
    width: 100%;
    justify-content: end;
}

@media screen and (min-width: 0px) and (max-width:700px) {
    .nav{
       text-align: center;
       display: block;
       
    }

    a{
        position: relative;
        text-align: center;
    }

    .links{
        display: block;
        justify-content: center;
        margin-bottom: 30px;
    }

}  


#check{
    display: none;
}




.hover:hover{
    color: aqua;
    text-decoration: dashed;
    font-weight: bold;
    transition: all 4s;
}

.BOX{
    margin-left: 10px;
    margin-right:10px ;
    margin-top: 10px;
    height: 100%;
}
.flex{
    display: flex;
    width: 100%;
    justify-content: center;
    border: solid;
    background: linear-gradient(rgb(206, 198, 198), white, rgb(221, 221, 221) );
}


.centered{
    margin-top: 1rem;
    align-items: center;
    justify-content:center;
    display: flex;
}

.description{
    margin-top: 1rem;
    background-color: black;
    width: auto;
    height: auto;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
